/* ------------------------------- CONTENEDOR -------------------------*/
.contenedor{
  width: 100%;
}

/* ------------------------------- HEADER -----------------------------*/
.contenedor header{
  background-color: #ff8c00;
  padding: 5px;
}
.contenedor header a{
  text-decoration: none;
}
.contenedor header a > img{
    width: 60px;
}

/* ------------------------------- MENÜ -----------------------------*/

.contenedor > .menu{background-color: #f0f2f5;}
.contenedor > .menu > ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  width: 70%;
}

.contenedor > .menu ul li a{
  text-decoration: none;
  width: 100%;
  padding: 10px;
  color: #ff8c00;
  font-weight: bold;
}
.contenedor .menu form{
  display: inline-block;
  padding: 6px;
  color:black;
  font-weight: bold;
}

.contenedor .menu a:visited,.contenedor .menu a:link{
  color: black;
}

/* ------------------------------- FOOTER -----------------------------*/

.contenedor > footer{
  background-color: #c4c4c4;
  position: fixed;
  left: 0;
  bottom:0;
  width: 100%;
}
.contenedor footer ul {
  width: 50%;
  margin: auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contenedor footer >  ul li{flex: 0 0 30%;}

.contenedor footer >  ul li a {
  text-decoration: none;
  padding: 0.5em;
  color: #325541;/*color verde*/
}

.error{
  color: red;
}
