h1,h2,h3,p,h3, div, header, nav, ul, li,.titulo{
  box-sizing: border-box;
}
.contenedor{
  width: 100%;
  margin: auto;
}
/* header*/
.contenedor header{
    background-color: #ff8c00;
    color:white;
    overflow: hidden;
}
.contenedor header a{
  text-decoration: none;
  color: white;
}
.contenedor header a > h1,.contenedor header a > img{
  float: left;
}
/* menu*/
.contenedor > nav{
  background-color: #e0e0e0;
}

.contenedor > nav a{
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: black;
  font-weight: bold;
  border-right: 4px solid white;
  /* width: 150px; */
}
.contenedor > nav a:nth-of-type(5){
  float: right;
  margin-right: 10px;
  border: none;
  border-left: solid white 4px;
}
.contenedor nav form{
  display: inline-block;
  padding: 6px;
  color:black;
  font-weight: bold;
  border-right: 4px solid white;
}
.contenedor nav a:visited,.contenedor nav a:link{
  color: black;
}

/*contenedor del login*/
.contenedor .contenedor_del_login h1{
  color:#ff8c00;
  text-align: center;
}
.contenedor_del_login .titulo{
  position: absolute;
  left:63%;
  top: 40%;
  width: 35%;
  background-color: rgba(0,0,0,0.31);
}
.contenedor_del_login .titulo{
  color:white;
  padding: 5px 10px;
}
.contenedor_del_login  img{
  width: 100%
}
.contenedor_del_login .titulo p{
  font-weight: bold;
  color:white;
  font-size: 38px;
  text-align: right;
}
/*Formulario Login*/
.contenedor_del_login .login {
  width: 40%;
  margin: auto;
  text-align: center;
}
.login input{
  text-align: center;
  border: 2px solid #219653;
  height: 30px;
}
.login ::placeholder{
  color:#ff8c00;
  font-weight: bold;
  font-size: 25px;
}
.login .login-submit .login-button, .enviar{
  background-color:#ff8c00;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color:white;
  width:100px;
  height: 30px;
}
.contenedor_del_login p {
  color:#023116;
  text-align: center;
}
.contenedor_del_login  a {
  text-decoration: none;
}
#recuerdame{vertical-align: middle;}
/*formulario registro */
.fomulario_registro .registro_tipo_cliente,.fomulario_registro .registro,.formCambiarPass .recuperarPass{
  text-align: center;
  width: 60%;
  margin:40px auto;
  border: dotted 2px #325541;
  background-color: #c4c4c4;
  padding: 1em 0;
}

.fomulario_registro .registro p ,.formCambiarPass .recuperarPass p{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.fomulario_registro .registro p label,.formCambiarPass .recuperarPass p label{
  flex: 0 0 40%;
  display: inline-block;
  text-align: left;
  align-self: center;
}
.fomulario_registro .registro p input,.formCambiarPass .recuperarPass p input{
  flex: 0 0 50%;
  display: inline-block;
}
.error{
  color: red;
}
.fomulario_registro .registro p textarea{
  flex: 0 0 40%;
  display: inline-block;
}
/*pagina editar perfil*//*pagina nuevo anuncio*/

.contenedor .cambiar_foto, .contenedor .nuevaPublicacion{
  width: 80%;
  margin: auto;
  text-align: center;
}
.contenedor .cambiar_foto h2,.contenedor .cambiar_foto h3, .contenedor .nuevaPublicacion h2, .contenedor .nuevaPublicacion h3{
  color:#325541;;
}
 /*================== pagina Perfil ==================*/

.contenedor .contenedorPerfilMascota .cuerpoPerfil{
  width: 80%;
  margin:auto;
  background-color: #fff0c2;
  margin-bottom: 2em;
}
.cuerpoPerfil .publicacionInfo > img{
  display: inline-block;
  float: left;
  width: 10%;
  height: 10%;
}
.cuerpoPerfil .publicacionInfo h2,h4{
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 1em;
  padding: 0.5em;
}
.cuerpoPerfil .publicacionInfo h4{
  color: #6a8776;
}
.cuerpoPerfil {
  overflow: hidden;
}
.contenedor .contenedorPerfilMascota .cuerpoPerfil .publicacionInfo{
  width: 100%;
  margin-left: 2em;
  margin-top: 1em;
  text-align: left;
  overflow: hidden;
}
.cuerpoPerfil > .publicacionInfo2{
  width: 60%;
  margin: 1.5em auto;
  margin-bottom: 1.5em;
}
.c_publicaciones .cuerpoPerfil > .publicacionInfo2{
  width: 80%;
  margin: 1.5em auto;
  margin-bottom: 1.5em;
}
.cuerpoPerfil > .publicacionInfo2 img{
  width: 100%;
  margin: auto;
  display: block;
}
.cuerpoPerfil > .publicacionInfo2 a{
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  color:#ff8c00;
  padding: 10px;
}

/*LOGO PAPELERA*/
.cuerpoPerfil .publicacionInfo a:first-of-type {
  margin-left:60%;
}

/*Perfil cabecera*/
.cabeceraPerfil{
  margin: 20px;
  overflow: hidden;
}


.cabeceraPerfil >img{
  display: inline-block;
  width: 15%;
  height: 15%;
  float:left;
  margin: 0 3em;
}

.cabeceraPerfil > .datosMascota .enviar{
  width: 200px;
  margin-top: 20px;

}
.cabeceraPerfil > .datosMascota{
  width: 30%;
  float: left;
}
.cabeceraPerfil > .datosAmigos{
    width: 40%;
    float: left;
}
.cabeceraPerfil > .datosMascota > h2,.cabeceraPerfil > .datosMascota > h4{
  display: inline-block;
  margin: 0;
  padding: 0;

}
.cabeceraPerfil > .datosMascota h4{
  color: #6a8776;
}
.cabeceraPerfil > .datosAmigos  > h3{
text-align: center;
  float: left;
}
.cabeceraPerfil > .datosAmigos  a{
  text-decoration:none;
  display: inline-block;
  float: left;
  padding: 20px;

  color: #ff8c00;
}
.cabeceraPerfil > .datosAmigos > h3 > span{
  color: #219653;
}

/*===========Comentarios===========*/
.comentarioUnaLinea > img{
width:80px;
height: 80px;
vertical-align: middle;
}
.comentarioUnaLinea > img{
margin-bottom: 5px;
}

/*===============Formularios de recuperar contraseña======================*/
.notificaciones{
  text-align: center;
  width: 50%;
  margin: 20px auto;
}
.formCambiarPass h1,.notificaciones h1,.notificaciones h2{
  color: #6a8776;
  text-align: center;
  padding: 20px;
}
/* footer*/
.contenedor > footer{
  width: 100%;
  background-color: #c4c4c4;
  clear: both;
}
.contenedor footer > nav ul {
  width: 60%;
  margin: auto;
  list-style: none;
  overflow: hidden;
}
.contenedor footer > nav ul li {
  float: left;
  margin-right: 15px;
}
.contenedor footer > nav ul li a {
  text-decoration: none;
  padding: 0.5em;
  float: left;
  color: #325541;/*color verde*/
}


/* .contenedor footer > nav ul li a:last-of-type {
    margin-left: 23.5%;
    border-left: solid 4px
white;
border-right:
transparent;
background-color: #75c5bc;
color:
    green;
} */
/* .amigos{

  width: 300px;
  height: 100%;

  margin:5px;
  padding: 10px;
}

.actividades{

} */

.small-img {
  width: 60px;
  height: 60px;
}
.icon-img {
  width: 25px;
  height: 25px;
}

.tabla{
  text-align: center;
}
/*============================= Distancia kilometros ============================*/
.p_kms{
  text-align: center;
  font-size: .8em;
  color:dimgrey;
}
/*============================= INICIO ============================*/
.contendor_inicio{
  overflow: hidden;
}
/*======== ANUNCIO NUEVO - FORMULARIO =======*/
.form_anuncio {
    color: #FF8C00; /*naranja*/
    font-size: 1em;
    font-weight: bold;
    width: 35em;

    margin: 5em auto;
    background-color: #E0E0E0; /*gris claro*/
    padding: 4em;
}
  .form_anuncio input {
      border: 0.15em solid #27AE60; /*verde*/
  }
  .form_anuncio input:last-of-type {
      border: 0.15em solid transparent; /*verde*/
  }

  .form_anuncio h4, span{
    color: black;
  }
  .stripe{
    text-align: center;
    background-color: white;
  }
  .botones{
    width: 11.89em;
    margin: auto;
  }
  .botones input:first-of-type {
      background-color: #FF8C00; /*verde*/
      color: white;
      border-color: #FF8C00 ;
      border-radius: 3px;
      padding: 5px 15px;
  }
  .botones input:last-of-type{
      background-color: #27AE60; /*verde*/
      color: white;
      border-color: #27AE60 ;
      border-radius: 3px;
      padding: 5px 15px;
  }

::-webkit-input-placeholder { color: green; }
:-ms-input-placeholder { color: green; }
:-moz-placeholder { /* Firefox 18- */ color: green; }
::-moz-placeholder { /* Firefox 19+ */ color: green; }


/*======== ANUNCIOS =======*/
.contenedor_anuncios {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 3em;
}
  .contenedor_anuncios h1 {
      text-align: center;
      color: #27AE60; /*verde*/
  }
  .anuncios {
    width: 30%;
    border: solid 0.3em #FF8C00; /*naranja*/
    float: left;
    margin: 0 1.6%;
    margin-bottom: 1em;
  }
  .anuncios h5 {
    float: left;
    margin: 1em;
    text-align: center;
  }

  .anuncios span{
    color: gray;
  }
  .anuncios img{
    width: 100%;
  }

  /*======================= AMIGOS =======*/
  .contenedor_amigos {
      width: 90%;
      /* outline: solid; */
      margin: 0 auto;
      overflow: auto;
      margin-bottom: 3em;
  }
    .contenedor_amigos h1 {
        text-align: center;
        color: #27AE60; /*verde*/
    }
    .amigos {
      width: 30%;
      border: solid 0.3em #FF8C00; /*naranja*/
      float: left;
      margin: 0 1.6%;
      margin-bottom: 1em;
    }
    .amigos h3 {
      float: left;
      /* outline: solid; */
      margin: 1em;
    }
    /* .amigos h5:nth-of-type(2) {
        padding: 0 0.5em;
    } */
    .amigos img{
      width: 100%;
    }
    .amigos_img{
      width: 100%;
      height: 15em;
    }

/*======== INICIO =======*/
.contendor_inicio >  div{
  /* outline: dotted red; */
  float: left;
}

.c_actividad{
  width: 25%;
  /* height: 15em; */
  background-color: #E0E0E0; /*gris claro*/
  margin-bottom: 1em;
  overflow: auto;
}

.c_actividad .p{
  text-align: center;
  font-size: 15px;
  margin: 5% 0 0 0;
  color: #27ae60; /*COLOR VERDE*/
  font-weight: bold;
}

  .c_actividad .actividadInicio{
    width: 90%;
    margin: 0 auto;
    margin-left: 5%;
  }
  .c_actividad h4{ margin: 1em; padding: 0;}
  .c_actividad p{
    text-align: center;
    font-size: 15px;
  }
  .c_actividad p{
    text-align: justify;
    margin: 0 1em 1em;
  }
.c_anuncios{
  width: 25%;
  background-color: #E0E0E0; /*gris claro*/
}
  .c_anuncios img{ width: 100%; }
  .c_anuncios .anuncioInicio{
    width: 90%;
    margin: 0 auto;
    margin-left: 5%;
  }
  .c_anuncios p{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #27ae60; /*COLOR VERDE*/
  }
  .anuncio_img{
    width: 100%;
    height: 15em;
    margin-bottom: 3%;
  }

  .contenedor_actividades {
      width: 90%;
      /* outline: solid; */
      margin: 0 auto;
      overflow: auto;
      margin-bottom: 3em;
  }
    .contenedor_actividades h1 {
        text-align: center;
        color: #27AE60; /*verde*/
    }
    .actividades {
      width: 30%;
      border: solid 0.3em #FF8C00; /*naranja*/
      float: left;
      margin: 0 1.6%;
      margin-bottom: 1em;
    }
    .actividades h5 {
      float: left;
      /* outline: solid; */
      margin: 1em;
      text-align: center;
    }
    /* .anuncios h5:nth-of-type(2) {
        padding: 0 0.5em;
    } */
    .actividades span{
      color: gray;
    }
    .actividades img{
      width: 100%;
    }




    /*=========COMENTARIOS OCULTOS==========*/
  .oculto{
    display: none;
  }


/*=========PUBLICACIONES DEL INICIO==========*/
.c_publicaciones {
	width: 70%;
	/* height: 35em; */
	margin-right: 2%;
	margin-left: 2%;
}
/* *{
  outline: red dotted 1px;
} */
.contenedor_publi{
  background-color: #fff0c2;
  margin-bottom: 25px;
}
.publicacion1{
  width: 100%;
  padding: 3% 3% 0;
}
.contenedor_publi .publicacion1 > img{
  display: inline-block;
  float: left;
  width: 15%;
  height: 15%;
}
.contenedor_publi .publicacion1 a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.contenedor_publi .publicacion1 a > h2{
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 0.3em;
  padding: 0.5em;
}
.contenedor_publi .publicacion1 h4{
  color: #6a8776;
}
.contenedor_publi {
  overflow: hidden;
}
.contenedor_publi > .publicacion2{
  width: 90%;
  margin: 1.5em 5%;
}

.contenedor_publi > .publicacion2 > img{
  width: 70%;
  margin: auto;
  display: block;
}
.contenedor_publi > .publicacion2 a{
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  color:#ff8c00;
  padding: 10px;
}

/*================= BOTON ===============*/

.boton {
	background-color: #ff8c00;
	/* border: none; */
	font-weight: bold;
	/* font-size: 20px; */
	color: white;
	width: 130px;
	height: 30px;
  margin: 5% 0 0 0;
  cursor: pointer;
}
.botonActividad{
  background-color: #27ae60; /*COLOR VERDE*/
  padding: 0.5em;
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 0.7em 0.1em;
}
