h1,h2,h3,p,h3, div, header, nav, ul, li,.titulo{
  box-sizing: border-box;
}
.contenedor{
  width: 100%;
  margin: auto;
}
/* header*/
.contenedor header{
      background-color: #ff8c00;
      color:white;
      overflow: hidden;
}
.contenedor header > h1,.contenedor header > img{
  float: left;
}
/* menu*/
.contenedor nav{
  background-color: #e0e0e0;
}
.contenedor nav{
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0.5em 0;
}
.menu a {
    text-decoration: none;
    /* outline: dotted red; */
    padding: 0.5em 1em;
    color: black;
    border-right: 3px solid white;
}
/*contenedor del login*/
.contenedor .contenedor_del_login h1{
  color:#ff8c00;
  text-align: center;
}
.contenedor_del_login .titulo{
  position: absolute;
  left:63%;
  top: 40%;
  width: 35%;
  background-color: rgba(0,0,0,0.31);
}
.contenedor_del_login .titulo{
  color:white;
  padding: 5px 10px;
}
.contenedor_del_login  img{
  width: 100%
}
.contenedor_del_login .titulo p{
  font-weight: bold;
  color:white;
  font-size: 38px;
  text-align: right;
}
/*Formulario Login*/
.contenedor_del_login .login {
  width: 40%;
  margin: auto;
  text-align: center;
}
.login input{
  text-align: center;
  border: 2px solid #219653;
  height: 30px;
}
.login ::placeholder{
  color:#ff8c00;
  font-weight: bold;
  font-size: 25px;
}
.login .login-submit .login-button{
  background-color:#ff8c00;
  border: none;
  font-weight: bold;
  font-size: 20px;
  color:white;
  width:100px;
  height: 30px;
}
.contenedor_del_login p {
  color:#023116;
  text-align: center;
}
.contenedor_del_login  a {
  text-decoration: none;
}

/*formulario registro */
.fomulario_registro .registro_tipo_cliente,.fomulario_registro  .registro{
  text-align: center;
  width: 60%;
  margin: auto;
  border: dotted 2px #325541;
  background-color: #c4c4c4;
  padding: 1em 0;
}

.fomulario_registro{
  margin: 1.5em;
}
.fomulario_registro label{
  margin-right: 10px;
}
.error{
  color: red;
}
/* footer*/
.contenedor.contenedor > footer{
  width: 100%;
  background-color: #c4c4c4;
  clear: both;
}


.contenedor footer > nav ul {
  width: 60%;
  margin: auto;
  list-style: none;
  overflow: hidden;
}
.contenedor footer > nav ul li {
  float: left;
}
.contenedor footer > nav ul li a {
  text-decoration: none;
  padding: 0.5em;
  float: left;
  color: #325541;/*color verde*/
}

.amigos{

  width: 300px;
  height: 100px;
  border: 1px solid green;
  margin:5px;
  padding: 10px;
}

.actividades{

}

/*======== ANUNCIO NUEVO - FORMULARIO =======*/
.form_anuncio {
    color: #FF8C00; /*naranja*/
    font-size: 1em;
    width: 30em;
    /* border: solid; */
    margin: auto;
    margin-bottom: 5em;
}
  .form_anuncio input:first-of-type {
      border: 0.2em solid #27AE60; /*verde*/
  }
  .form_anuncio input:nth-of-type(2) {
    border: 0.2em solid #27AE60;
  }
  .form_anuncio h4, span{
    color: black;
  }
  /* .form_anuncio input:nth-of-type(3) {
      background-color: #27AE60;
      color: white;
      border: #27AE60 solid;
  }
  .form_anuncio input[type="file"] {
      background-color: #27AE60;
      color: white;
      border: #27AE60 solid;
  } */
  .botones{
    width: 11.89em;
    /* border: solid; */
    margin: auto;
  }
  .botones input:first-of-type {
      background-color: #FF8C00; /*verde*/
      color: white;
      border-color: #FF8C00 ;
      border-radius: 3px;
      padding: 5px 15px;
  }
  .botones input:last-of-type{
      background-color: #27AE60; /*verde*/
      color: white;
      border-color: #27AE60 ;
      border-radius: 3px;
      padding: 5px 15px;
  }

/*======== ANUNCIOS =======*/
.contenedor_anuncios {
    width: 90%;
    /* outline: solid; */
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 3em;
}
  .contenedor_anuncios h1 {
      text-align: center;
      color: #27AE60; /*verde*/
  }
  .anuncios {
    width: 30%;
    border: solid 0.3em #FF8C00; /*naranja*/
    float: left;
    margin: 0 1.6%;
    margin-bottom: 1em;
  }
  .anuncios h5 {
    float: left;
    /* outline: solid; */
    margin: 1em;
    text-align: center;
  }
  .anuncios h5:nth-of-type(2) {
      padding: 0 1.3em;
  }
  .anuncios img{
    width: 100%;
  }
